---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

export interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  items?: { title: string; description: string }[];
}

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  ...rest
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-4xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
  {...rest}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="space-y-4 px-4">
    {
      items.map((item) => (
        <details class="group bg-white dark:bg-slate-900 border border-gray-200 dark:border-slate-700 rounded-lg overflow-hidden transition-all">
          <summary class="flex justify-between items-center p-4 cursor-pointer font-bold dark:text-white hover:bg-gray-50 dark:hover:bg-slate-800">
            {item.title}
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24">
                <path d="6 9l6 6 6-6" />
              </svg>
            </span>
          </summary>
          <div class="px-4 pb-4 text-gray-600 dark:text-slate-400" set:html={item.description} />
        </details>
      ))
    }
  </div>
</WidgetWrapper>
