---
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

export interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  awards?: {
    title: string;
    organization: string;
    year: string;
    icon?: { src: string; alt?: string };
  }[];
}

const {
  title = '',
  subtitle = '',
  tagline = '',
  awards = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  ...rest
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
  {...rest}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4 px-4">
    {
      awards.map((award) => (
        <div class="flex flex-col items-center text-center p-6 bg-white dark:bg-slate-900 rounded-xl shadow border border-gray-100 dark:border-slate-800">
          {award.icon && (
            <Image
              class="w-16 h-16 mb-4 grayscale hover:grayscale-0 transition-all"
              width={64}
              height={64}
              {...award.icon}
            />
          )}
          <h4 class="font-bold text-lg dark:text-white leading-tight mb-1">{award.title}</h4>
          <p class="text-sm text-gray-500 dark:text-slate-400">{award.organization}</p>
          <p class="mt-2 text-blue-600 dark:text-blue-400 font-bold">{award.year}</p>
        </div>
      ))
    }
  </div>
</WidgetWrapper>
