---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Team as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  team = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  ...rest
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
  {...rest}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-4">
    {
      team.map(({ name, job, image, socials }) => (
        <div class="flex flex-col items-center text-center">
          {image && (
            <div class="relative w-48 h-48 mb-4 overflow-hidden rounded-full shadow-lg">
              <Image
                class="w-full h-full object-cover"
                width={192}
                height={192}
                widths={[400, 768]}
                sizes="192px"
                {...image}
              />
            </div>
          )}
          <h4 class="text-xl font-bold dark:text-white">{name}</h4>
          {job && <p class="text-muted dark:text-slate-400 font-medium">{job}</p>}
          {socials && (
            <div class="flex gap-3 mt-4">
              {socials.map((social) => (
                <a
                  href={social.href}
                  class="text-gray-400 hover:text-primary dark:hover:text-blue-400"
                  target="_blank"
                  rel="noopener noreferrer">
                  <Icon name={social.icon} class="w-5 h-5" />
                </a>
              ))}
            </div>
          )}
        </div>
      ))
    }
  </div>
</WidgetWrapper>
