---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

export interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  items?: { title: string; subtitle?: string; description?: string }[];
}

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  ...rest
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-4xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
  {...rest}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div
    class="relative space-y-8 px-4 before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent dark:before:via-slate-700">
    {
      items.map((item, index) => (
        <div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
          <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white dark:border-slate-900 bg-slate-200 dark:bg-slate-700 text-slate-500 group-[.is-active]:bg-blue-600 group-[.is-active]:text-white shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
            <span class="text-sm font-bold">{index + 1}</span>
          </div>
          <div class="w-[calc(100%-4rem)] md:w-[45%] p-4 rounded-xl border border-slate-200 dark:border-slate-800 bg-white dark:bg-slate-900 shadow-sm">
            <h4 class="font-bold dark:text-white">{item.title}</h4>
            {item.subtitle && <p class="text-sm text-blue-600 dark:text-blue-400 font-medium">{item.subtitle}</p>}
            {item.description && <p class="text-gray-600 dark:text-slate-400 mt-2 text-sm">{item.description}</p>}
          </div>
        </div>
      ))
    }
  </div>
</WidgetWrapper>
